{% load static %}
{% load meta %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head {% meta_namespaces %} >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="rating" content="general">
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="7 days">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="google-site-verification" content="oXZ_JtUte0PD8RdRZD0q05fjt_Rfa_fQOAsgbbwzJm0" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-P6JT8ERQZV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P6JT8ERQZV');
  </script>
  <meta http-equiv="content-language" content="en">
  
  
  {% block seo %}
    {% if meta %}
      {% include "meta/meta.html" %}
    {% else %}
      <title>The Ottoman Group (TOG) - Turkey based service company</title>
      <meta property="og:title" content="The Ottoman Group (TOG)">
      <meta name="keywords" content="The Ottoman Group, tog,Turkiye, Real Estate, Turkish Citizenship study in turkey, Turkey,Tourism,turkish tourism,health tourism">
      <meta property="og:site_name" content="The Ottoman Group (TOG)">
      <meta property="og:type" content="website">
      <meta name="description" content="The Ottoman Group is a group of companies that focuses on multiple business and services related to Turkey and Bangladesh .">
      <meta name="og:description" content="The Ottoman Group is a group of companies that focuses on multiple business and services related to Turkey and Bangladesh .">
      {% endif %}
    
  {% endblock seo %}


  {% block css %}
    <link rel="shortcut icon" href={% static 'assets/img/favicon_dark/favicon.ico' %}>
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/colors/sky.css' %}">
    <link rel="preload" href="{% static 'assets/css/fonts/urbanist.css' %}" as="style" onload="this.rel='stylesheet'">
  {% endblock css %}
  {% block inlinecss %}{% endblock inlinecss %}
  {% block cdns %}{% endblock cdns %}

  <style>
    .logo{
      width: 135px;
      height: 39px;
    }
    .logo{
      max-width: 100% !important;
    }

  </style>


</head>

<body>
  {% block header %}
    <header class="wrapper bg-soft-primary">
      <nav class="navbar navbar-expand-lg extended navbar-light navbar-bg-light caret-none">
        <div class="container flex-lg-column">
          <div class="topbar d-flex flex-row w-100 justify-content-between align-items-center">
            <div class="navbar-brand"><a href="{% url 'mainapp:mainapp_index' %}">
              <img class="logo" src="{% static 'assets/img/logo-dark-resized.png' %}" alt="logo" /></a>
            </div>
            <div class="navbar-other ms-auto">
              <ul class="navbar-nav flex-row align-items-center">
                {% comment %} <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-info"><i class="uil uil-info-circle"></i></a></li> {% endcomment %}
                <li class="nav-item d-lg-none">
                  <button class="hamburger offcanvas-nav-btn"><span></span></button>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.d-flex -->
          <div class="navbar-collapse-wrapper bg-white d-flex flex-row align-items-center">
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
              <div class="offcanvas-header d-lg-none">
                <h3 class="text-white fs-20 mb-0">The Ottoman Group</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body d-flex flex-column h-100">
                <ul class="navbar-nav">
                  
                    <li><a class="nav-link" href="{% url 'mainapp:mainapp_index' %}">Home</a></li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Services</a>
                      <ul class="dropdown-menu">
                        <li class="nav-item"><a class="dropdown-item" href="{%url 'servicesapp:servicesapp_home'%}">All Services</a>
                          <hr class="my-2" />
                        <li class="nav-item"><a class="dropdown-item" href="{% url 'servicesapp:servicesapp_real_estate' %}">Real Estate & Consultancy</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="{% url 'servicesapp:servicesapp_study' %}">Study In Turkey</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="{% url 'servicesapp:servicesapp_tourism' %}">Tourism-Health Tourism</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="{% url 'servicesapp:servicesapp_citizenship' %}">Citizenship & Residence Permit</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="{% url 'servicesapp:servicesapp_export_import' %}">Export-Import</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="{% url 'servicesapp:servicesapp_hajj_umrah' %}">Hajj & Umrah</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="{% url 'servicesapp:servicesapp_service_solutions' %}">Service Solutions</a></li>
                      </ul>
                    </li>
                    <li><a class="nav-link" href="{% url 'blogsapp:blogsapp_home' %}">Blogs</a></li>
                    {% block navmenu %}
                    {% endblock navmenu %}
                    <li><a class="nav-link" href="{% url 'mainapp:mainapp_about' %}">About</a></li>
                    <li><a class="nav-link" href="{% url 'mainapp:mainapp_contact' %}">Contact</a></li>
                    
                </ul>
                <!-- /.navbar-nav -->
                <div class="offcanvas-footer d-lg-none">
                  <div>
                    <a href="mailto:first.last@email.com" class="link-inverse">info@ottomangrp.com</a>
                    <br /> 
                    <a href="tel:{{contact_links.phone_1}}">{{contact_links.phone_1}}</a>
                    <br />
                    <nav class="nav social social-white mt-4">
                      <a target="_blank" href="{{contact_links.twitter}}"><i class="uil uil-twitter"></i></a>
                      <a target="_blank" href="{{contact_links.facebook}}"><i class="uil uil-facebook-f"></i></a>
                      <a target="_blank" href="{{contact_links.whatsapp}}"><i class="uil uil-whatsapp"></i></a>
                      <a target="_blank" href="{{contact_links.instagram}}"><i class="uil uil-instagram"></i></a>
                      <a target="_blank" href="{{contact_links.telegram}}"><i class="uil uil-telegram"></i></a>
                    </nav>
                    <!-- /.social -->
                  </div>
                </div>
                <!-- /.offcanvas-footer -->
              </div>
            </div>
            <!-- /.navbar-collapse -->
            <div class="navbar-other ms-auto w-100 d-none d-lg-block">
              <nav class="nav social social-muted justify-content-end text-end">
                <a target="_blank" href="{{contact_links.twitter}}"><i class="uil uil-twitter"></i></a>
                <a target="_blank" href="{{contact_links.facebook}}"><i class="uil uil-facebook-f"></i></a>
                <a target="_blank" href="{{contact_links.whatsapp}}"><i class="uil uil-whatsapp"></i></a>
                <a target="_blank" href="{{contact_links.instagram}}"><i class="uil uil-instagram"></i></a>
                <a target="_blank" href="{{contact_links.telegram}}"><i class="uil uil-telegram"></i></a>
              </nav>
              <!-- /.social -->
            </div>
            <!-- /.navbar-other -->
          </div>
          <!-- /.navbar-collapse-wrapper -->
        </div>
        <!-- /.container -->
      </nav>

    </header>
    <!-- /header -->
  {% endblock header %}


  {% block content %}
  {% endblock content %}




  {% block footer %}
  <footer class="bg-navy text-white">
    <div class="container pt-13 pt-md-15 pb-7">
      <div class="row gy-6 gy-lg-0 justify-content-around">
        <div class="col-lg-4">
          <div class="widget">
            <p class="lead mb-5">The Ottoman Group (TOG) is a Turkish service-oriented company. We provide a variety of
              services ranging from health tourism to Turkish citizenship. We are a rapidly expanding business with a
              proven track record of success. Our services are also in high demand, and we are constantly reaching out
              to new clients.</p>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-2 offset-lg-2">
          <div class="widget">
            <p class="mb-3">Need Help?</p>
            <ul class="list-unstyled text-reset mb-0">
              <li><a href="{% url 'servicesapp:servicesapp_tourism' %}">Tourism</a></li>
              <li><a href="{% url 'servicesapp:servicesapp_real_estate'%}">Real-estate</a></li>
              <li><a href="{% url 'servicesapp:servicesapp_study'%}">Education</a></li>
              <li><a href="{% url 'servicesapp:servicesapp_citizenship' %}">Citizenship</a></li>
              <li><a href="{% url 'servicesapp:servicesapp_export_import' %}">Export-import</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-2">
          <div class="widget">
            <p class=" text-white mb-3">Learn More</h4>
            <ul class="list-unstyled text-reset mb-0">
              <li><a href="{% url 'blogsapp:blogsapp_home' %}">Blogs</a></li>
              <li><a href="{% url 'servicesapp:servicesapp_properties' %}">Properties</a></li>
              <li><a href="{% url 'mainapp:mainapp_contact' %}">Contact us</a></li>
              <li><a href="{% url 'formsapp:formsapp_book_consultancy' %}">Free Consultancy</a></li>
              <li><a href="{% url 'formsapp:formsapp_apply_study' %}">Apply for Education</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-2">
          <div class="widget">
            <p class="mb-3">Get in Touch</p>
            <address>{{contact_links.address}}</address>
            <a target="_blank" href="mailto:{{contact_links.email}}" class="link-body text-white">{{contact_links.email}}</a><br />
            <a target="_blank" href="tel:{{contact_links.phone_1}}"></a>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
      <hr class="mt-13 mt-md-15 mb-7" />
      <div class="d-md-flex align-items-center justify-content-between">
        <p class="mb-2 mb-lg-0">© 2023 The Ottoman Group (TOG). All rights reserved.</p>
        <nav class="nav social  text-md-end">
          <a target="_blank" href="{{contact_links.twitter}}"><i class="uil uil-twitter"></i></a>
          <a target="_blank" href="{{contact_links.facebook}}"><i class="uil uil-facebook-f"></i></a>
          <a target="_blank" href="{{contact_links.whatsapp}}"><i class="uil uil-whatsapp"></i></a>
          <a target="_blank" href="{{contact_links.instagram}}"><i class="uil uil-instagram"></i></a>
          <a target="_blank" href="{{contact_links.telegram}}"><i class="uil uil-telegram"></i></a>
        </nav>
        <!-- /.social -->
      </div>
      <!-- /div -->
    </div>
    <!-- /.container -->
  </footer>
  {% endblock footer %}


  {% block page_progress %}
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  {% endblock page_progress %}

  {% block js %}
  <script src="{% static 'assets/js/plugins.js' %}"></script>
  <script src="{% static 'assets/js/theme.js' %}"></script>
  {% endblock js %}

  {% block extrajs %}{% endblock extrajs %}

</body>

</html>