{% load thumbnail %}
<article>
    <div class="card">
        <figure class="card-img-top overlay overlay-1 hover-scale">
            <a href="{{blog.get_absolute_url}}"> 
                {% thumbnail blog.thumbnail "400x250" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% empty %}
                        <p>No image</p>
                {% endthumbnail %}
            </a>
            <figcaption>
                <h5 class="from-top mb-0">Read More</h5>
            </figcaption>
        </figure>
        <div class="card-body">
            <div class="post-header">
            <div class="post-category text-line">
                <a href="{{blog.category.get_absolute_url}}" class="hover" rel="category">{{blog.category}}</a>
            </div>
            <!-- /.post-category -->
            <h2 class="post-title h1 fs-17 mt-1 mb-3"><a class="link-dark" href="{{blog.get_absolute_url}}">{{blog.title}}</a></h2>
            </div>
            <!-- /.post-header -->
            <div class="post-content">
            <p>{{blog.overview|truncatewords:25}}</p>
            </div>
            <!-- /.post-content -->
        </div>
        <!--/.card-body -->
        <div class="card-footer">
            <ul class="post-meta d-flex mb-0">
            <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{blog.created_at|date}}</span></li>
            <li class="post-likes ms-auto"><a href="#"><i class="uil uil-heart-alt"></i>{{blog.view_count}}</a></li>
            </ul>
            <!-- /.post-meta -->
        </div>
    <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</article>