{% extends 'views/base.html' %}
{% load static %}

{% block content %}

    <section class="wrapper bg-soft-primary">
    <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
        <div class="col-md-8 col-lg-6 col-xl-5 order-lg-2 position-relative">
            <div class="shape bg-soft-primary rounded-circle rellax w-20 h-20" data-rellax-speed="1" style="top: -2rem; right: -1.9rem;"></div>
            <figure class="rounded"><img src="{% static 'assets/img/illustrations/3d8.png' %}" srcset="{%static 'assets/img/illustrations/'%}3d8@2x.png 2x" alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6">
            <h2 class="display-4 mb-3">Our Journey</h2>
            <p class="mb-6">
                Shihab Ahmed, our founder, and CEO is an aspiring young businessperson. In the five years of his business career, he garnered commendable experience and success. As a Bangladeshi undergraduate engineering student, Mr. Shihab moved to Turkey in 2016. He has always had an entrepreneurial flair and has tried various commercial ventures in addition to his studies.
            </p>
            <p class="mb-6">
                Mr. Shihab acquired Turkish citizenship through an investment scheme. Additionally, via his individual initiative, he assisted other individuals in obtaining residency permits and Turkish citizenship. Later, in 2021, he formally founded the Ottoman Group after being encouraged by the smiles of numerous customers.
            </p>
            <div class="row gx-xl-10 gy-6">
            <div class="col-md-6">
                <div class="d-flex flex-row">
                <div>
                    <img src="{% static 'assets/img/icons/lineal/target.svg' %}" class="svg-inject icon-svg icon-svg-sm me-4" alt="" />
                </div>
                <div>
                    <h4 class="mb-1">Our Mission</h4>
                    <p class="mb-0">
                        Through our operations, we strive to make a positive impact on the communities where we live and work.
                    </p>
                </div>
                </div>
            </div>
            <!--/column -->
            <div class="col-md-6">
                <div class="d-flex flex-row">
                <div>
                    <img src="{% static 'assets/img/icons/lineal/award-2.svg' %}" class="svg-inject icon-svg icon-svg-sm me-4" alt="" />
                </div>
                <div>
                    <h4 class="mb-1">Our Values</h4>
                    <p class="mb-0">
                        Customer satisfaction Innovation Integrity Teamwork Sustainability Excellence
                    </p>
                </div>
                </div>
            </div>
            <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
        <div class="container py-14 py-md-16">
            <h2 class="fs-15 text-uppercase text-muted mb-3 text-center">Companies of The Ottoman Group</h2>
            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 gx-lg-6 gy-6 justify-content-center">
            <div class="col">
                <a target="_blank" href="https://ottomantravels.com/" class="card shadow-lg lift h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8 ">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="{% static 'assets/img/company_logos/ottomantravels.png' %}" alt="" /></figure>
                    </div>
                    <!--/.card-body -->
                </a>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
                <a target="_blank" href="https://ottomanbuilders.com/" class="card shadow-lg lift h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="{% static 'assets/img/company_logos/ottomanbuilders.png' %}" alt="" /></figure>
                    </div>
                    <!--/.card-body -->
                </a>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
                <a target="_blank" href="https://dhakalounge.com/" class="card shadow-lg lift h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="{% static 'assets/img/company_logos/dhakalounge.png' %}" alt="" /></figure>
                    </div>
                    <!--/.card-body -->
                </a>
                <!--/.card -->
            </div>
            <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->


    <section class="section-frame ">
        <div class="wrapper bg-light" style="border-radius: 1rem;">
            <div class="container py-17">
            <div class="row text-center">
                <div class="col-xl-11 col-xxl-10 mx-auto">
                <h2 class="fs-16 text-uppercase text-muted mb-3">Company Facts</h2>
                <h3 class="display-4 mb-10 px-lg-20 px-xl-20">Check The Current Ratio of Our Completed Projects</h3>
                <div class="row gy-6 text-center">
                    <div class="col-md-6 col-lg-3">
                    <div class="progressbar semi-circle purple" data-value="90"></div>
                    <h4>Tourism</h4>
                    </div>
                    <!-- /column -->
                    <div class="col-md-6 col-lg-3">
                    <div class="progressbar semi-circle leaf" data-value="85"></div>
                    <h4>Residence-Permit</h4>
                    </div>
                    <!-- /column -->
                    <div class="col-md-6 col-lg-3">
                    <div class="progressbar semi-circle pink" data-value="95"></div>
                    <h4>Study in Turkiye</h4>
                    </div>
                    <!-- /column -->
                    <div class="col-md-6 col-lg-3">
                    <div class="progressbar semi-circle yellow" data-value="100"></div>
                    <h4>Real Estate</h4>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.wrapper -->
    </section>
    <!--/section -->


 <section class="wrapper ">
    <div class="container py-14 py-md-17">
    <div class="row">
        <div class="col-lg-11 col-xxl-10 mx-auto text-center">
            <h2 class="fs-20 text-uppercase text-muted mb-3">FAQ</h2>
        </div>
        <!--/column -->
    </div>
    <!--/.row -->
    <div class="row">
        <div class="col-lg-7 mx-auto">
        <div id="accordion-3" class="accordion-wrapper">
            {% for faq in faqs%}
                <div class="card accordion-item shadow-lg">
                    <div class="card-header" id="accordion-heading-3-{{faq.id}}">
                        <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-{{faq.id}}" aria-expanded="false" aria-controls="accordion-collapse-3-{{faq.id}}">{{faq.question}}</button>
                    </div>
                    <!-- /.card-header -->
                    <div id="accordion-collapse-3-{{faq.id}}" class="collapse" aria-labelledby="accordion-heading-3-{{faq.id}}" data-bs-target="#accordion-3">
                        <div class="card-body">
                            <p>{{faq.answer}}</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.collapse -->
                </div>
                <!-- /.card -->
            {% endfor %}
        </div>
        <!-- /.accordion-wrapper -->
        </div>
        <!-- /column -->
    </div>
    <p class='text-center fs-15 text-secondary'>If you don't see an answer to your question, you can
        <span><a href="{% url 'mainapp:mainapp_contact' %}">contact</a></span> us directly </p>
    <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->


{% endblock content %}