{% extends 'views/base.html' %}
{% load static %}

{% block content %}
    
    {% comment %} our services {% endcomment %}
    {% include 'components/services.html' %}

    <section class="wrapper bg-light">
        <div class="container py-14 py-md-16">
            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-7">
                <figure><img class="w-auto" src="{% static 'assets/img/illustrations/i3.png' %}" srcset="{% static 'assets/img/illustrations/i3' %}@2x.png 2x" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-lg-5">
                <h2 class="fs-15 text-uppercase text-line text-primary mb-3">How It Works?</h2>
                <h4 class="display-6 mb-7 pe-xxl-5">
                    We follow 3 simple yet effective steps
                </h4>
                <div class="d-flex flex-row mb-4">
                <div>
                    <img src="{% static 'assets/img/icons/lineal/light-bulb.svg' %}" class="svg-inject icon-svg icon-svg-sm text-primary me-4" alt="" />
                </div>
                <div>
                    <h4 class="mb-1">Information Collection</h4>
                    <p class="mb-1">You describe your needs.</p>
                </div>
                </div>
                <div class="d-flex flex-row mb-4">
                <div>
                    <img src="{% static 'assets/img/icons/lineal/pie-chart-2.svg' %}" class="svg-inject icon-svg icon-svg-sm text-green me-4" alt="" />
                </div>
                <div>
                    <h4 class="mb-1">Analysis</h4>
                    <p class="mb-1">We start analyzing the process.</p>
                </div>
                </div>
                <div class="d-flex flex-row">
                <div>
                    <img src="{% static 'assets/img/icons/lineal/design.svg' %}" class="svg-inject icon-svg icon-svg-sm text-yellow me-4" alt="" />
                </div>
                <div>
                    <h4 class="mb-1">Providing Solution</h4>
                    <p class="mb-0">We find solutions to meet your requirements.</p>
                </div>
                </div>
            </div>
            <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
        </section>
        <!-- /section -->

{% endblock content %}