{% extends 'views/base.html' %}
{% load static %}

{% block content %}
    <section class="wrapper bg-soft-primary">
        <div class="container pt-15 pt-md-17 pb-13 pb-md-15">
            <div class="row text-center">
                <div class="col-xl-10 mx-auto">
                    <h2 class="fs-15 text-uppercase text-primary mb-3">Our Services</h2>
                    <h3 class="display-4 mb-10 px-xxl-10">Currently Ottoman Group Offering Following Services</h3>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
            <div class="row gy-6">
                {% for service in services %}
                    <div class="col-md-6 col-lg-4">
                        <a href="{% url service.link %}" class="card shadow-lg lift h-100">
                            <div class="card-body p-5 d-flex flex-row">
                                <div>
                                    <span class="avatar {{service.color}} text-white w-11 h-11 fs-20 me-4">
                                        <img src={%static "/assets/img/icons/serviceicons/" %}{{service.icon}}
                                            class=" icon-svg icon-svg-xs  text-white" alt="" />
                                    </span>
                                </div>
                                <div>
                                    <h4 class="mb-1">{{service.title}}</h4>
                                    <p class="mb-0 text-body">{{service.description}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--/column -->
                {% endfor %}
            </div>
            <!-- /.row -->
        </div>
    </section>


    <section class="wrapper bg-light">
        <div class="container py-14 py-md-16">
            <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-7">
                <figure><img class="w-auto" src="{% static './assets/img/illustrations/i3.png' %}" srcset="{% static './assets/img/illustrations/i3' %}@2x.png 2x" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-lg-5">
                <h2 class="fs-15 text-uppercase text-line text-primary mb-3">How It Works?</h2>
                <h4 class="display-6 mb-7 pe-xxl-5">
                    We follow 3 basic rules
                    <br>
                    simple yet powerful
                </h4>
                <div class="d-flex flex-row mb-4">
                <div>
                    <img src="{% static './assets/img/icons/lineal/light-bulb.svg' %}" class="svg-inject icon-svg icon-svg-sm text-primary me-4" alt="" />
                </div>
                <div>
                    <h4 class="mb-1">Collect Information</h4>
                    <p class="mb-1">You describe your needs.</p>
                </div>
                </div>
                <div class="d-flex flex-row mb-4">
                <div>
                    <img src="{% static './assets/img/icons/lineal/pie-chart-2.svg' %}" class="svg-inject icon-svg icon-svg-sm text-green me-4" alt="" />
                </div>
                <div>
                    <h4 class="mb-1">Analysis</h4>
                    <p class="mb-1">We start analyzing the process.</p>
                </div>
                </div>
                <div class="d-flex flex-row">
                <div>
                    <img src="{% static './assets/img/icons/lineal/design.svg' %}" class="svg-inject icon-svg icon-svg-sm text-yellow me-4" alt="" />
                </div>
                <div>
                    <h4 class="mb-1">Solution</h4>
                    <p class="mb-0">We find solutions to meet your requirements.</p>
                </div>
                </div>
            </div>
            <!--/column -->
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
        </section>
        <!-- /section -->

{% endblock content %}