{% extends 'servicesapp/views/study.html' %}

{% block extrajs %}
    <script>
        const button = document.querySelector('#extra-services-btn');
        const element = document.getElementById('extra-services');
        button.addEventListener('click', () => {
            element.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
        });
    </script>

{% endblock extrajs %}


{% block content %}
    {% block pageheader %}
        <section class="wrapper bg-soft-primary">
            <div class="container pt-10 pb-10 pt-md-10 pb-md-10 text-center">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-xl-8 col-xxl-6 mx-auto mb-13" data-cues="slideInDown"
                        data-group="page-title">
                        <h1 class="display-6 mb-4">The Ottoman Group(TOG) Education Packages</h1>
                        <p class="lead fs-sm px-xl-12 px-xxl-6 mb-7">
                            We offer excellent quality service at a 
                            <span class="underline-2 underline-gradient-1"><em> great price</em></span>
                        </p>
                        <div class="d-flex justify-content-center" data-cues="slideInDown" data-group="page-title-buttons"
                            data-delay="600">
                            <span><a href="{% url 'formsapp:formsapp_apply_study' %}" class="btn btn-primary rounded mx-1">Apply
                                    Now</a></span>
                        </div>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->
    {% endblock pageheader %}


    <section class="wrapper bg-light">
        <div class="container py-14 py-md-16">
            <h2 class="display-4 mb-3">Our Packages</h2>
            <p class="lead fs-lg">We offer <span class="underline">great prices</span>, premium and quality services.</p>
            <div class="row">
                <div class="col-lg-4">
                    <button type="button" id="extra-services-btn" class="btn btn-primary rounded-xl">check our other services</button>
                </div>
                <!--/column -->
            </div>
            <!--/.row -->
            <div class="table-responsive mt-10">
                <table class="table table-borderless table-striped text-center">
                    <thead>
                    <tr>
                        <th class="w-25"></th>
                        <th>
                            <div class="h4 mb-1">Basic Plan</div>
                        </th>
                        <th>
                            <div class="h4 mb-1">Standard Plan</div>
                        </th>
                        <th>
                            <div class="h4 mb-1">Premium Plan</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for package in package_table %}
                            <tr>
                                <td class="option text-start">{{package.title}}</td>
                                {% for item in package.isAvailable %}
                                    {% if item == 'yes' %}
                                        <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                                    {% else %}
                                        <td><i class="uil uil-times bullet-soft-red text-red"></i></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.container -->
    </section>

    {% comment %} extra services {% endcomment %}
    <section id="extra-services" class="wrapper bg-light">
        <div class="container py-14 py-md-16">
            <h2 class="display-5 mb-7 text-center">Our Other Services</h2>
            <div class="pricing-wrapper">
                <div class="row gx-0 gy-6 mt-2">
                    {% for service in services %}
                        <div class="col-md-6 col-lg-3">
                            <div class="pricing card shadow-none">
                                <div class="card-body">
                                    <h4 class="card-title">{{service.title}}</h4>
                                    <ul class="icon-list bullet-bg bullet-soft-primary mt-7 mb-8">
                                        {% for item in service.body %}
                                            <li><i class="uil uil-check"></i><span> {{item}} </span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--/.card-body -->
                            </div>
                            <!--/.pricing -->
                        </div>
                        <!--/column -->
                    {% endfor %}
                </div>
                <!--/.row -->
            </div>
            <!--/.pricing-wrapper -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->

{% endblock content %}