{% extends 'views/base.html' %}
{% load static %}



{% block content %}

<section class="wrapper bg-soft-primary">
    <div class="container pt-10 pb-15 pt-md-14 pb-md-20 text-center">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-8 col-xxl-6 mx-auto mb-13" data-cues="slideInDown"
                data-group="page-title">
                <h1 class="display-4 mb-4">Ottoman Group(TOG) Education</h1>
                <p class="lead fs-lg px-xl-12 px-xxl-6 mb-7">
                    Make your education dreams come true in the <span
                        class="underline-2 underline-gradient-1"><em>Turkey</em></span> with the assurance of TOG
                    Education Consultancy.
                </p>
                <div class="d-flex justify-content-center" data-cues="slideInDown" data-group="page-title-buttons"
                    data-delay="600">
                    <span><a href="{% url 'formsapp:formsapp_apply_study' %}" class="btn btn-primary rounded mx-1">Apply
                            Now</a></span>
                </div>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

{% comment %} reasons to choose turkey {% endcomment %}
<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-7 order-lg-2">
                <figure><img class="w-auto" src="{% static './assets/img/illustrations/i2.png' %}"
                        srcset="{% static './assets/img/illustrations/i2'%}@2x.png 2x" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-lg-5">
                <h2 class="fs-15 text-uppercase text-line text-primary mb-3">Why Turkey?</h2>
                <h3 class="display-5 mb-7">Reasons to Choose Turkey.</h3>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quidem impedit hic aliquam nam
                        ipsum voluptatum blanditiis. Nihil fuga, nisi assumenda, magnam sed reprehenderit sunt numquam
                        quos ullam enim illum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quidem impedit hic aliquam nam
                        ipsum voluptatum blanditiis. Nihil fuga, nisi assumenda, magnam sed reprehenderit sunt numquam
                        quos ullam enim illum?
                    </p>
                    <a href="#" class="btn btn-expand btn-soft-primary rounded-pill">
                        <i class="uil uil-arrow-right"></i>
                        <span>linkblog</span>
                    </a>
                </div>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

{% comment %} eligible or not {% endcomment %}
<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400"
                    data-image-src="{% static 'assets/img/backgrounds/bg3.jpg' %}">
                    <div
                        class="card-body p-6 p-md-11 d-lg-flex flex-row align-items-lg-center justify-content-md-between text-center text-lg-start">
                        <h3 class="display-6 fs-20 mb-6 mb-lg-0 pe-lg-10 pe-xl-5 pe-xxl-18 text-white">
                            Find If You are Eligible to Study in Turkey.
                            Take advantage of our free cosultancy.
                        </h3>

                        <a href="{% url 'formsapp:formsapp_book_consultancy' %}"
                            class="btn btn-white rounded-pill mb-0 text-nowrap">Consult Free</a>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->



{% comment %} working process {% endcomment %}
<section class="wrapper bg-light">
    <div class="container pb-10 pb-md-10">
        <div class="row text-center">
            <div class="col-lg-9 mx-auto">
                <h2 class="fs-15 text-uppercase text-muted mb-3 mt-12">Our Service Execution Roadmap</h2>
                <h3 class="display-4 mb-0 text-center px-xl-10 px-xxl-15">From Your Home To Istanbul</h3>
                <div class="row gx-lg-8 gx-xl-12 process-wrapper text-start mt-10">
                    {% for process in working_process %}
                        <div class="col-md-4"> 
                            <span class="avatar bg-soft-primary text-primary w-10 h-10">
                                <span>{{forloop.counter}}</span>
                            </span>
                            <p class="mb-0">{{process.text}}</p>
                        </div>
                        <!--/column -->
                    {% endfor %}
                    
                </div>
                <!--/.row -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

{% comment %} featured blogs {% endcomment %}
{% include 'components/featured_blogs.html' with title="Here are some articles to get you going" %}



{% comment %} packages {% endcomment %}
<section class="wrapper bg-light">
    <div class="container py-15 py-md-17">
        <div class="row gx-md-5 gy-5 mt-n19 mb-14 mb-md-17 justify-content-center">
            <h2 class="fs-20 text-center">Which university do you want to study at?</h2>
            <div class="col-md-6 col-xl-3">
                
                <div class="card shadow-lg">
                    <div class="card-body p-2">
                    <i class="uil uil-book-open text-green fs-40"></i>
                    <h4>Public University</h4>
                        Turkish public universities meet European education standards, offer Erasmus exchanges, internships, and dormitories on safe, large campuses free of politics. Low tuition fees make them accessible to students.
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
                <div class="card shadow-lg">
                    <div class="card-body p-3">
                    <i class="uil uil-book text-red fs-40"></i>
                    <h4>Privet University:</h4>
                        Turkey has excellent private universities with top rankings, quality education, and opportunities to study in English, compensating for higher costs compared to public universities.
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
                <div class="card shadow-lg">
                    <div class="card-body px-4 py-3">
                    <i class="uil uil-book-medical text-primary fs-40"></i>
                    <h4>Medical University</h4>
                    Turkey's healthcare system is one of the world's best, with improving quality reflected in medical colleges. The country offers unprecedented job opportunities for doctors.
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
                <div class="card shadow-lg">
                    <div class="card-body p-3">
                    <i class="uil uil-english-to-chinese text-violet fs-40"></i>
                    <h4>Language Institute</h4>
                    Turkish language proficiency is recommended for students whose medium of instruction is Turkish. Learning Turkish is also beneficial for socializing and interacting with locals.
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
            <h2 class="fs-16 text-uppercase text-muted mb-3">Service Packages</h2>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <ul class="nav nav-tabs nav-tabs-basic">
            <div class="container mb-10">
                <div class="row justify-content-center">
                    <li class="nav-item col-3 text-center"> <a class="nav-link active" data-bs-toggle="tab" href="#tab2-1">{{services.0.title}}</a> </li>
                    <li class="nav-item col-3 text-center"> <a class="nav-link" data-bs-toggle="tab" href="#tab2-2">{{services.1.title}}</a> </li>
                    <li class="nav-item col-3 text-center"> <a class="nav-link" data-bs-toggle="tab" href="#tab2-3">{{services.2.title}}</a> </li>
                </div>
            </div>
        </ul>
        <!-- /.nav-tabs -->
        <div class="tab-content mt-6 mt-lg-8">
            <div class="tab-pane fade show active" id="tab2-1">
                <div class="row gx-lg-8 gx-xl-12 gy-10 justify-content-center">
                    {% for text in services.0.body %}
                        <div class="col-md-6 col-lg-4 p-0  my-0 px-5">
                            <ul class="icon-list bullet-bg bullet-soft-aqua mb-0">
                                <li><span><i class="uil uil-check"></i></span><span>{{text}}</span></li>
                            </ul>
                        </div>
                        <!--/column -->
                    {% endfor %}
                </div>
                <!--/.row -->
            </div>
            <!--/.tab-pane -->
            <div class="tab-pane fade" id="tab2-2">
                <div class="row gx-lg-8 gx-xl-12 gy-10 justify-content-center">
                    {% for text in services.1.body %}
                        <div class="col-md-6 col-lg-3 p-0  my-0 px-5">
                            <ul class="icon-list bullet-bg bullet-soft-aqua mb-0">
                                <li><span><i class="uil uil-check"></i></span><span>{{text}}</span></li>
                            </ul>
                        </div>
                        <!--/column -->
                    {% endfor %}
                </div>
                <!--/.row -->
            </div>
            <!--/.tab-pane -->
            <div class="tab-pane fade" id="tab2-3">
                <div class="row gx-lg-8 gx-xl-12 gy-10 pt-10 justify-content-center" style="margin-left:auto;">
                    {% for text in services.2.body %}
                        <div class="col-md-6 col-lg-3 p-0  my-0 px-5">
                            <ul class="icon-list bullet-bg bullet-soft-aqua mb-0">
                                <li><span><i class="uil uil-check"></i></span><span>{{text}}</span></li>
                            </ul>
                        </div>
                        <!--/column -->
                    {% endfor %}
                </div>
                <!--/.row -->
            </div>
            <!--/.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->


{% comment %} faqs {% endcomment %}
<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
        <div class="card bg-soft-primary rounded-4">
            <div class="card-body p-md-10 p-xl-11">
                <div class="row gx-lg-8 gx-xl-12 gy-10">
                    <div class="col-lg-6">
                        <h3 class="display-4 mb-4">Frequently Asked Questions</h3>
                        <p class="lead fs-lg mb-0">If you don't see an answer to your question, you can send us an email
                            from our
                            <a href="mainapp:contact" class="hover ">contact</a> form.
                        </p>
                    </div>
                    <!--/column -->
                    <div class="col-lg-6">
                        <div class="accordion accordion-wrapper" id="accordionExample">
                            {% for faq in faqs %}
                            <div class="card plain accordion-item">
                                <div class="card-header" id="headingOne">
                                    <button class="collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#accordion-collapse-3-{{faq.id}}" aria-expanded="true"
                                        aria-controls="accordion-collapse-3-{{faq.id}}">{{faq.question}}</button>
                                </div>
                                <!--/.card-header -->
                                <div id="accordion-collapse-3-{{faq.id}}" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>{{faq.answer}}</p>
                                    </div>
                                    <!--/.card-body -->
                                </div>
                                <!--/.accordion-collapse -->
                                {% endfor %}
                            </div>
                            <!--/.accordion-item -->
                        </div>
                        <!--/.accordion -->
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!--/.card-body -->
        </div>
        <!--/.card -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

{% endblock content %}